.input-div{
    height: 6rem;
    width: 17rem;
    background-color: #222222;
    color: #fff;
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
}

.input-div:hover{
    height: 6.5rem;
    width: 17.5rem;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
    cursor: pointer;
}

.fileLabel {
    cursor: pointer;
    font-size: medium;
}

